.main_Copy{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    row-gap: 10px;
    color: #fff;
    background-color: var(--main-color);
}

.main_Copy a {
    color: #fff;
}

.main_Copy p {
    max-width: 90vw;
}
